<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>klnau_0000000.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 11}, {155, 172}}</string>
			<key>spriteOffset</key>
			<string>{-4, -2}</string>
			<key>spriteSize</key>
			<string>{155, 172}</string>
			<key>spriteSourceSize</key>
			<string>{165, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {155, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>klnau_0000001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 7}, {155, 176}}</string>
			<key>spriteOffset</key>
			<string>{-4, -0}</string>
			<key>spriteSize</key>
			<string>{155, 176}</string>
			<key>spriteSourceSize</key>
			<string>{165, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{157, 0}, {155, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>klnau_0000002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 3}, {155, 180}}</string>
			<key>spriteOffset</key>
			<string>{-4, 2}</string>
			<key>spriteSize</key>
			<string>{155, 180}</string>
			<key>spriteSourceSize</key>
			<string>{165, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{314, 0}, {155, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>klnau_0000003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 8}, {155, 176}}</string>
			<key>spriteOffset</key>
			<string>{-4, -1}</string>
			<key>spriteSize</key>
			<string>{155, 176}</string>
			<key>spriteSourceSize</key>
			<string>{165, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{471, 0}, {155, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>klnau_0000004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {155, 172}}</string>
			<key>spriteOffset</key>
			<string>{-4, -3}</string>
			<key>spriteSize</key>
			<string>{155, 172}</string>
			<key>spriteSourceSize</key>
			<string>{165, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{628, 0}, {155, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>klnau_0000005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 8}, {155, 176}}</string>
			<key>spriteOffset</key>
			<string>{-4, -1}</string>
			<key>spriteSize</key>
			<string>{155, 176}</string>
			<key>spriteSourceSize</key>
			<string>{165, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{785, 0}, {155, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>klnau_0000006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 3}, {155, 180}}</string>
			<key>spriteOffset</key>
			<string>{-4, 2}</string>
			<key>spriteSize</key>
			<string>{155, 180}</string>
			<key>spriteSourceSize</key>
			<string>{165, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 182}, {155, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>klnau_0000007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 7}, {155, 176}}</string>
			<key>spriteOffset</key>
			<string>{-4, -0}</string>
			<key>spriteSize</key>
			<string>{155, 176}</string>
			<key>spriteSourceSize</key>
			<string>{165, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{157, 182}, {155, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>klnau.png.ccz</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>