<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>start_0000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000001.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000002.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,2},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,2},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000005.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,174},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000006.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,174},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,174},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,174},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,174},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,174},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,174},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,174},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,174},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000015.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,346},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,2},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000017.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,346},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,346},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000021.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,518},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000022.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,518},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,518},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000025.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,690},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000026.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,690},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,690},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000029.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,862},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000030.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,862},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000031.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,862},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000032.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,862},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000033.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,862},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000034.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,862},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000035.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,862},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000036.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,862},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,862},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000039.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1034},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000040.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1034},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,1034},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
            <key>start_0000042.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,518},{470,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,170}}</string>
                <key>sourceSize</key>
                <string>{470,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>start.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2e656eb2041d1523f5e652f49478f88$</string>
            <key>textureFileName</key>
            <string>start.png</string>
        </dict>
    </dict>
</plist>
