<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>skill01_0000000.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 12}, {62, 80}}</string>
			<key>spriteOffset</key>
			<string>{-24, -2}</string>
			<key>spriteSize</key>
			<string>{62, 80}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {62, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>skill01_0000001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 9}, {50, 82}}</string>
			<key>spriteOffset</key>
			<string>{-16, -0}</string>
			<key>spriteSize</key>
			<string>{50, 82}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{64, 0}, {50, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>skill01_0000002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 7}, {40, 84}}</string>
			<key>spriteOffset</key>
			<string>{-7, 1}</string>
			<key>spriteSize</key>
			<string>{40, 84}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{116, 0}, {40, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>skill01_0000003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{48, 6}, {42, 84}}</string>
			<key>spriteOffset</key>
			<string>{9, 2}</string>
			<key>spriteSize</key>
			<string>{42, 84}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{158, 0}, {42, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>skill01_0000004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{52, 6}, {62, 84}}</string>
			<key>spriteOffset</key>
			<string>{23, 2}</string>
			<key>spriteSize</key>
			<string>{62, 84}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 0}, {62, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>skill01_0000005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 8}, {54, 82}}</string>
			<key>spriteOffset</key>
			<string>{22, 1}</string>
			<key>spriteSize</key>
			<string>{54, 82}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{266, 0}, {54, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>skill01_0000006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{54, 14}, {52, 78}}</string>
			<key>spriteOffset</key>
			<string>{20, -3}</string>
			<key>spriteSize</key>
			<string>{52, 78}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 0}, {52, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>skill01_0000007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 14}, {50, 76}}</string>
			<key>spriteOffset</key>
			<string>{20, -2}</string>
			<key>spriteSize</key>
			<string>{50, 76}</string>
			<key>spriteSourceSize</key>
			<string>{120, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{376, 0}, {50, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 128}</string>
		<key>name</key>
		<string>skill01</string>
		<key>textureFileName</key>
		<string>skill01.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>