<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>klxanh3_0000000.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 27}, {140, 138}}</string>
			<key>spriteOffset</key>
			<string>{-6, -6}</string>
			<key>spriteSize</key>
			<string>{140, 138}</string>
			<key>spriteSourceSize</key>
			<string>{180, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {140, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>klxanh3_0000001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 1}, {146, 168}}</string>
			<key>spriteOffset</key>
			<string>{-10, 5}</string>
			<key>spriteSize</key>
			<string>{146, 168}</string>
			<key>spriteSourceSize</key>
			<string>{180, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{142, 0}, {146, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>klxanh3_0000002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 180}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{174, 180}</string>
			<key>spriteSourceSize</key>
			<string>{180, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{290, 0}, {174, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>klxanh3_0000003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {166, 178}}</string>
			<key>spriteOffset</key>
			<string>{-7, 1}</string>
			<key>spriteSize</key>
			<string>{166, 178}</string>
			<key>spriteSourceSize</key>
			<string>{180, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{466, 0}, {166, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>klxanh3_0000004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {166, 174}}</string>
			<key>spriteOffset</key>
			<string>{-7, 1}</string>
			<key>spriteSize</key>
			<string>{166, 174}</string>
			<key>spriteSourceSize</key>
			<string>{180, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{634, 0}, {166, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>klxanh3_0000005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 5}, {160, 168}}</string>
			<key>spriteOffset</key>
			<string>{-7, 1}</string>
			<key>spriteSize</key>
			<string>{160, 168}</string>
			<key>spriteSourceSize</key>
			<string>{180, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{802, 0}, {160, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>klxanh3_0000006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{98, 22}, {54, 66}}</string>
			<key>spriteOffset</key>
			<string>{35, 35}</string>
			<key>spriteSize</key>
			<string>{54, 66}</string>
			<key>spriteSourceSize</key>
			<string>{180, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{964, 0}, {54, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>klxanh3_0000007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{113, 28}, {44, 38}}</string>
			<key>spriteOffset</key>
			<string>{45, 43}</string>
			<key>spriteSize</key>
			<string>{44, 38}</string>
			<key>spriteSourceSize</key>
			<string>{180, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 182}, {44, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>klxanh3_0000008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {180, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 180}</string>
			<key>spriteSourceSize</key>
			<string>{180, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{46, 182}, {180, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>klxanh2</string>
		<key>textureFileName</key>
		<string>klxanh3.png.ccz</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>