<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim02_0000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>anim02_0000001.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>anim02_0000002.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>anim02_0000003.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>anim02_0000004.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>anim02_0000005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,2},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>anim02_0000006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,2},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>anim02_0000007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,2},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>anim02_0000008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,2},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>anim02_0000009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,2},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>anim02_0000010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,2},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>anim02_0000011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>anim02_0000012.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,164},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>anim02_0000013.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,164},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>anim02_0000014.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,164},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>anim02_0000015.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,164},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>anim02_0000016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,164},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>anim02_0000017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,164},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>anim02_0000018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,164},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>anim02_0000019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,164},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>anim02_0000020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>anim02_0000021.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,326},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>anim02_0000022.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,326},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>anim02_0000023.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,326},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>anim02_0000024.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,326},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>anim02_0000025.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,326},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>anim02_0000026.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,326},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>anim02_0000027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,326},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>anim02_0000028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,326},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>anim02_0000029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim02.png</string>
            <key>size</key>
            <string>{2048,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3b2f057a08067a3de0908d66cc9dec5$</string>
            <key>textureFileName</key>
            <string>anim02.png</string>
        </dict>
    </dict>
</plist>
