<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>kltim_0000000.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 12}, {90, 118}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{90, 118}</string>
			<key>spriteSourceSize</key>
			<string>{100, 140}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {90, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kltim_0000001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 9}, {90, 122}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{90, 122}</string>
			<key>spriteSourceSize</key>
			<string>{100, 140}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 0}, {90, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kltim_0000002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 7}, {90, 124}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{90, 124}</string>
			<key>spriteSourceSize</key>
			<string>{100, 140}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{184, 0}, {90, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kltim_0000003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 10}, {90, 120}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{90, 120}</string>
			<key>spriteSourceSize</key>
			<string>{100, 140}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{276, 0}, {90, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kltim_0000004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 13}, {90, 118}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{90, 118}</string>
			<key>spriteSourceSize</key>
			<string>{100, 140}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{368, 0}, {90, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kltim_0000005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 10}, {90, 120}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{90, 120}</string>
			<key>spriteSourceSize</key>
			<string>{100, 140}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 126}, {90, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kltim_0000006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 7}, {90, 124}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{90, 124}</string>
			<key>spriteSourceSize</key>
			<string>{100, 140}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 126}, {90, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kltim_0000007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 9}, {90, 122}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{90, 122}</string>
			<key>spriteSourceSize</key>
			<string>{100, 140}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{184, 126}, {90, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
		<key>name</key>
		<string>klnau3</string>
		<key>textureFileName</key>
		<string>kltim.png.ccz</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>