<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Mouse2_0000000.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 179}, {188, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{230, 250}</string>
			<key>spriteSourceSize</key>
			<string>{230, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {230, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mouse2_0000001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 160}, {188, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{230, 250}</string>
			<key>spriteSourceSize</key>
			<string>{230, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{232, 0}, {230, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mouse2_0000002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 85}, {188, 158}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{230, 250}</string>
			<key>spriteSourceSize</key>
			<string>{230, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{464, 0}, {230, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mouse2_0000003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 12}, {194, 232}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{230, 250}</string>
			<key>spriteSourceSize</key>
			<string>{230, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{696, 0}, {230, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mouse2_0000004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 26}, {198, 218}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{230, 250}</string>
			<key>spriteSourceSize</key>
			<string>{230, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{928, 0}, {230, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mouse2_0000005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 35}, {200, 208}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{230, 250}</string>
			<key>spriteSourceSize</key>
			<string>{230, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1160, 0}, {230, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mouse2_0000006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 44}, {204, 200}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{230, 250}</string>
			<key>spriteSourceSize</key>
			<string>{230, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1392, 0}, {230, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mouse2_0000007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 46}, {204, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{230, 250}</string>
			<key>spriteSourceSize</key>
			<string>{230, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1624, 0}, {230, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mouse2_0000008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 46}, {204, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{230, 250}</string>
			<key>spriteSourceSize</key>
			<string>{230, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 252}, {230, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mouse2_0000009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 46}, {204, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{230, 250}</string>
			<key>spriteSourceSize</key>
			<string>{230, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{232, 252}, {230, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mouse2_0000010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 48}, {204, 196}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{230, 250}</string>
			<key>spriteSourceSize</key>
			<string>{230, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{464, 252}, {230, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mouse2_0000011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 51}, {206, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{230, 250}</string>
			<key>spriteSourceSize</key>
			<string>{230, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{696, 252}, {230, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mouse2_0000012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 53}, {208, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{230, 250}</string>
			<key>spriteSourceSize</key>
			<string>{230, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{928, 252}, {230, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mouse2_0000013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 59}, {204, 184}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{230, 250}</string>
			<key>spriteSourceSize</key>
			<string>{230, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1160, 252}, {230, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mouse2_0000014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 77}, {192, 166}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{230, 250}</string>
			<key>spriteSourceSize</key>
			<string>{230, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1392, 252}, {230, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mouse2_0000015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 106}, {188, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{230, 250}</string>
			<key>spriteSourceSize</key>
			<string>{230, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1624, 252}, {230, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mouse2_0000016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 142}, {220, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{230, 250}</string>
			<key>spriteSourceSize</key>
			<string>{230, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 504}, {230, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mouse2_0000017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 138}, {218, 106}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{230, 250}</string>
			<key>spriteSourceSize</key>
			<string>{230, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{232, 504}, {230, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mouse2_0000018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 133}, {218, 110}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{230, 250}</string>
			<key>spriteSourceSize</key>
			<string>{230, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{464, 504}, {230, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mouse2_0000019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 129}, {216, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{230, 250}</string>
			<key>spriteSourceSize</key>
			<string>{230, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{696, 504}, {230, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mouse2_0000020.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 125}, {214, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{230, 250}</string>
			<key>spriteSourceSize</key>
			<string>{230, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{928, 504}, {230, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mouse2_0000021.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 124}, {214, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{230, 250}</string>
			<key>spriteSourceSize</key>
			<string>{230, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1160, 504}, {230, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mouse2_0000022.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 124}, {214, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{230, 250}</string>
			<key>spriteSourceSize</key>
			<string>{230, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1392, 504}, {230, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mouse2_0000023.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 124}, {214, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{230, 250}</string>
			<key>spriteSourceSize</key>
			<string>{230, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1624, 504}, {230, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mouse2_0000024.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 116}, {204, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{230, 250}</string>
			<key>spriteSourceSize</key>
			<string>{230, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 756}, {230, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mouse2_0000025.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 109}, {196, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{230, 250}</string>
			<key>spriteSourceSize</key>
			<string>{230, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{232, 756}, {230, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mouse2_0000026.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 118}, {194, 126}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{230, 250}</string>
			<key>spriteSourceSize</key>
			<string>{230, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{464, 756}, {230, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mouse2_0000027.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 147}, {188, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{230, 250}</string>
			<key>spriteSourceSize</key>
			<string>{230, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{696, 756}, {230, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mouse2_0000028.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 179}, {188, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{230, 250}</string>
			<key>spriteSourceSize</key>
			<string>{230, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{928, 756}, {230, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mouse2_0000029.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 179}, {188, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{230, 250}</string>
			<key>spriteSourceSize</key>
			<string>{230, 250}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1160, 756}, {230, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>Mouse2</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>Mouse2</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>